textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffff;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="text"] {
  width: 30%;
  padding: 14px 20px;
  margin: 8px 0;
  border: #c4b5fd;
  border-radius: 4px;
}

.Formcontainer {
  position: relative;
  background: #fbf7fc;

  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: fit-content;
  top: 10px;
  bottom: 500px;

  left: 350px;
}
